body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%); */
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,9,121,1) 47%, rgba(0,255,196,1) 100%);
  /* background-image: url("./bkg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* height: 100vh; */
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
